$base-spacing: 15px;
$theme-background-main: rgb(52, 152, 219);
$theme-background-toolbar-dark: rgba(0,0,0,0.3);
$theme-highlight: rgba(9, 112, 84, 0.5);
$theme-action: rgb(223, 123, 2);
$theme-scarlet: rgb(187,0,0);
$theme-text-default: white;

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin default-box-shadow-dark {
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
}

body {
  background: #FCECD5;
}

header {
  background: $theme-background-main;


  #title-box {
    /*
    margin-left: -$padding * 2;
    padding-left: $padding * 2;
    padding-top: $padding / 5;
    padding-bottom: $padding / 5;
    border-radius: 25px;
    */
    padding: $base-spacing;
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bolder;
    color: $theme-text-default;
    margin-right: $base-spacing;
  }

  .main-caption {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    background-color: rgba(67, 24, 238, 0.5);
    border-radius: 10px;
    padding: $base-spacing / 2;
    // border-radius: $base-spacing;
  }

  nav {
    background: $theme-background-toolbar-dark;
    padding: $base-spacing;

    ul {
      list-style: none;
      color: white;
      display: flex;
      flex-wrap: wrap;
      margin-left: $base-spacing;
      margin-right: $base-spacing;
      padding-left: 0;
      margin-bottom: 0;
    }

    li {
      display: inline-block;
      background-color: $theme-action;
      padding: $base-spacing / 2;
      margin: $base-spacing / 4;
      border-radius: 5px;
      @include default-box-shadow-dark;
    }
  }
}

main {
  padding: $base-spacing;
  margin: $base-spacing;

  article {
    h2 {
      background: $theme-background-main;
      color: white;
      padding: $base-spacing / 2;
      width: 30%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-bottom: 0px;
      @include default-box-shadow-dark;

      @include for-phone-only {
          width: 100%;
      }
    }

    .article-content {
      margin-top: 0;
      //  border-top: 10px solid $theme-background-main;
      background: white;
      padding: $base-spacing;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      @include default-box-shadow-dark;
    }
  }
}

footer {
  text-align: center;
  font-size: 0.8em;
}
