$base-spacing: 15px;
$theme-background: rgb(52, 152, 219);
$theme-highlight: rgba(9, 112, 84, 0.5);
$theme-action: rgb(223, 123, 2);
$theme-scarlet: rgb(187,0,0);
$theme-text-default: white;

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

header #title-box {
  /*
  margin-left: -$padding * 2;
  padding-left: $padding * 2;
  padding-top: $padding / 5;
  padding-bottom: $padding / 5;
  border-radius: 25px;
  */
  padding: $base-spacing;
  background: $theme-background;
  display: flex;
  flex-wrap: wrap;

}

header h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bolder;
  color: $theme-text-default;
  margin-right: $base-spacing;
}

.main-caption {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  background-color: $theme-highlight;
  padding: $base-spacing / 2;
  border-radius: $base-spacing;
}
